@import url(https://fonts.googleapis.com/css?family=Lato);

.navbar-brand {
    font-size: 30px !important;
    margin-left: 40px;
}

.navbar{
    position: fixed!important;
    z-index: 9;
    left: 0;
    right: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory !important;
    overflow-y: scroll !important;
    scroll-behavior: smooth !important;
}

section {
    scroll-snap-align: start !important;
    scroll-behavior: smooth !important;
    /* scroll-snap-stop: always!important; */
}

.row-projetos {
    align-items: stretch;
}


.img-experiencia {
    width: 50%;
}

.navbar-nav {
    margin-left: 100px;
}

.nav-link {
    font-size: 20px !important;
    margin-right: 50px !important;
    margin: 0 auto;
}

.col-img-link {
    justify-content: center;
    display: flex;
}



.wrapper {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
    padding-left: 10px;
    width: 100%;
    font-family: Lato;
}

.barra-escrita {
    animation: barra-animation 0.7s alternate infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    user-select: none;
}

@keyframes barra-animation {
    0% {
        color: #fff;
    }

    100% {
        color: transparent;
    }
}


#title span {
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 5px;
    text-decoration: none !important;
}

#title>.row {
    width: 100%;
}

.col-name-home {
    display: flex;
    align-items: center !important;
    justify-content: center;
}

.col-img-home {
    justify-content: end;
    display: flex;
    /* background: blue; */
}

.img-home {
    background-image: url('../img/joao.jpg');
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-color: #1b2735;
    margin-right: 100px;
}

.carousel-item img,
.card-experiencia video {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.div-name-home {
    background: #1b2735;
    border-radius: 4px;
    width: 860px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-name-home p {
    font-size: 20px;
}

.link-descer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: descer 1s infinite alternate-reverse;
    color: #fff;
}

@keyframes descer {
    from {
        transform: translate(-50%, 5px)
    }

    to {
        transform: translate(-50%, -10px)
    }
}


#projetos, #sobre, #habilidades {
    padding-top: 50px;
}

#experiencias {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100dvh;
}

#habilidades {
    background: #090a0f !important;
    min-height: 100dvh;
    display: grid;
    place-items: center;
}

#sobre{
    min-height: 100dvh;
    background: #090a0f !important;
}

#experiencias {
    display: flex;
    flex-wrap: wrap;
    background: #000;
}

#experiencias img {
    margin: 0 auto;
}

#experiencias h1 {
    width: 100%;
}

/* #projetos, #habilidades{ */
#projetos,
#sobre,
#habilidades {
    /* background: #090a0f; */
    background: #1b2735;
    /* padding-top: 50px; */
}

.bolinha{
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -55px;
    top: 0;
    margin-top: 5px;
}

.linha-experiencia{
    background-color: #fff;
    position: absolute;
    left: -50px;
    width: 1px;
    top: 0;
    margin-top: 25px;
    height: calc(100% - 15px );
}


#tecnologias {
    /* background: #090a0f; */
    background: #1b2735;
    min-height: 100vh;
    padding-top: 20px;
}

#card-experiencias {
    background: #1b2735;
    padding-top: 20px;
    color: #fff !important;
}
#card-experiencias img {
    margin-top: 10px;
}

#card-experiencias .text-muted{
    color: #fff!important;
    opacity: .8;
}

.list-cards{
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 150px;
}


#projetos h1,
#sobre h1,
#experiencias h1 {
    text-align: center;
    font-size: 50px;
    padding: 40px 0 40px 0 !important;
    color: #fff;
}

#habilidades h1 {
    text-align: center;
    font-size: 50px;
    /* padding: 40px 0 40px 0!important; */
    color: #fff;
}

#tecnologias h1 {
    text-align: center;
    font-size: 50px;
    padding: 70px 0 0px 0 !important;
    color: #fff;
}

.card-tecnologies,
.card-skills {
    color: #fff !important;
}

.splide__slide {
    min-width: 200px !important;
    border-radius: 4px;
    margin: 15px 5px !important;
}

.card-tecnologies {
    background: #090a0f !important;
    padding: 5px;
}

.card-skills {
    min-width: 30.3% !important;
    max-width: 30.3% !important;
    min-height: 200px;
    max-height: 400px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    /* background: #090a0f!important; */
    background: #1b2735 !important;
}

.card-experiencia {
    background: #090a0f !important;
    color: #fff !important;
    height: 100% !important;
}

.card-sobre{
    background: #1b2735!important;
    color: #fff !important;
    height: 100% !important;
}
.text-sobre{
    margin-top: 20px;
    font-weight: normal!important;
}

.card-experiencia .card-body,
.card-sobre .card-body {
    padding: 10px 20px;
    height: 100% !important;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.btn-experiencia {
    background: #1b2735 !important;
    color: #d3d3d3 !important;
    opacity: .8;
    transition: 0.5s;
    width: 150px;
}


.btn-experiencia-video {
    background: #1b2735 !important;
    color: #d3d3d3 !important;
    opacity: .8;
    transition: 0.5s;
    width: 290px;
}


.descricao-img-carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    font-size: 30px;
    box-shadow: inset 0px 0px 17px 2000px #00000094 !important;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}

.splide__pagination {
    bottom: 0px !important;
}

.carousel-item:hover .descricao-img-carousel {
    opacity: 1;
}

.btn-experiencia:hover {
    opacity: 1;
}

.img-tecnologies,
.img-languages {
    height: 50px;
    margin: 0 auto;
}

.card-body-tecnologies,
.card-body-languages {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title-tecnologie,
.title-languages {
    text-align: center;
    font-size: 30px;
}

.title-tecnologie {
    display: none;
}

.text-tecnologie,
.text-languages {
    text-align: center;
}
.text-tecnologie {
    display: none;
}

.div-img-tecnologies,
.div-img-languages {
    display: flex;
}


/* CARROUSEL - TECNOLOGIAS */
.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    /* Adicionado para garantir que o conteúdo dentro do contêiner não ultrapasse */
    scroll-behavior: smooth;
    /* Adicionado para tornar a rolagem suave */
    transition: transform 0.5s ease;
    /* Adicionado para aplicar uma transição suave ao transformar o contêiner */
}

.gallery-wrapper {
    overflow-x: auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, #ffffff52 200%);
    /* opacity: 0.1; */
    cursor: pointer;
    border: none;
    z-index: 3 !important;
}

.arrow-left img,
.arrow-right {
    color: #000 !important;
}


.arrow-right:hover {
    background: linear-gradient(to right, transparent 0%, #fff 200%);
}

.arrow-left:hover {
    background: linear-gradient(to left, transparent 0%, #fff 200%);
}

.arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, #ffffff52 200%);
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}


/* This is from w3schools */
/* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.cyan {
    background: cyan;
}

.deeppink {
    background: deeppink;
}

.turquoise {
    background: turquoise;
}

.darkblue {
    background: darkblue;
}

.purple {
    background: purple;
}


@keyframes animation-stars {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}


@media screen and (max-width: 1310px) {
    .img-home {
        margin-right: 0px;
        height: 300px !important;
        width: 300px !important;
        max-height: 300px !important;
        max-width: 300px !important;
        min-height: 300px !important;
        min-width: 300px !important;
    }

    .list-cards{
        padding: 0 50px;
    }

}

@media screen and (max-width: 998px) {
    #habilidades h1 {
        text-align: center;
    }

    .nav-link {
        flex-direction: row;
        display: flex !important;
    }

    .navbar-nav {
        margin-left: 0px;
    }

    .col-img-link {
        max-width: 40px;
        margin-right: 20px;
    }

    .nav-link .col {
        display: flex;
        align-items: center;
    }

    .img-home {
        margin-right: 0px;
        height: 150px !important;
        width: 150px !important;
        max-height: 150px !important;
        max-width: 150px !important;
        min-height: 150px !important;
        min-width: 150px !important;
    }

    .container-md,
    .container-sm,
    .container {
        max-width: 820px !important;
    }

    .card-skills {
        min-width: 32% !important;
        padding: 30px;
    }

    #experiencias img {
        width: 80%;
    }

    .bolinha{
        left: -45px;
    }

    .linha-experiencia{
        left: -40px;
    }
    
    .list-cards{
        padding: 0 0px;
        margin-left: 40px;
    }

}

@media screen and (max-width: 880px) {
    .img-home {
        height: 250px !important;
        width: 250px !important;
        max-height: 250px !important;
        max-width: 250px !important;
        min-height: 250px !important;
        min-width: 250px !important;
    }

    #tecnologias h1{
        padding: 70px 20px 0px 20px !important;
        text-align: center;
    }

    #title span {
        font-size: 40px;
    }

    .card-skills {
        min-width: 46% !important;
    }

    .col-experiencia {
        min-width: 100%;
    }

    .row-projetos#row-projetos {
        align-items: baseline !important;
    }

    .carousel-item img,
    .card-experiencia video {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }


    #projetos, #sobre, #habilidades {
        padding-top: 0px;
    }

    .navbar{
        position: absolute!important;
        z-index: 9;
        left: 0;
        right: 0;
    }

    #card-experiencias{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

    #card-experiencias .col-11{
        padding-left: 10px;
    }

}

/* .carousel-item img, .card-experiencia video{
    width: 100%;
    height: 350px;
    object-fit: cover;
} */


@media screen and (max-width: 725px) {

    .col-name-home,
    .col-img-home {
        min-width: 100%;
    }

    .div-name-home {
        /* height: 300px; */
        padding: 20px 20px;
    }

    .card-skills {
        padding: 10px;
    }

    .col-img-home {
        justify-content: center;
        /* margin-top: 40px; */
    }

    .row {
        gap: 50px !important;
    }

    .img-home {
        width: 250px !important;
        height: 250px !important;
    }

    #title span {
        font-size: 35px;
    }

    #habilidades h1 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .title-languages {
        font-size: 25px;
    }

    .text-languages {
        font-size: 15px;
    }

    .bolinha{
        left: -35px;
    }

    .linha-experiencia{
        left: -30px;
    }

    .list-cards{
        margin-left: 30px;
    }
}

@media screen and (max-width: 548px) {
    .card-skills {
        min-width: 48% !important;
    }

    #habilidades h1 {
        margin-top: 50px;
        margin-bottom: 120px;
    }

    #experiencias img {
        width: 100%;
        max-height: 419px;
    }
}


@media screen and (max-width: 380px) {
    .div-name-home {
        padding: 20px 20px;
        height: 400px;
    }

    .card-skills {
        min-width: 100% !important;
    }
}